name: Deploy Frontend
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      # - name: Get docker credentials
      #   run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: Build project
        run: docker build -t earlp/react-dev-test -f Dockerfile.dev .
      - name: Run test
        run: docker run -e CI=true earlp/react-dev-test npm test
